<%- include('layouts/header', { headerTitle: "Une erreur est survenue" }) %>
<%- include('layouts/navbar') %>

    <h1 class="text-white">Une erreur est survenue</h1>
    <p class="text-white"><%- error %></p>
    <p class="text-white"><a href="/">Retour à l'acceuil</a></p>
    
<%- include('layouts/footer') %>