<%- include('layouts/header', { headerTitle: "Accueil" }) %>
<%- include('layouts/navbar') %>

    <button class="btn btn-primary">ayaya</button>
    <a class="btn btn-danger" href="/roles">Roles</a>
    
<%- include('layouts/footer') %>